*{
    margin: 0;
    padding: 0;
}
body{
    background: #6A994E;
    height: 600px;
}
header{
    width: 100%;
    background: #386641;
    height: 70px;
}
.ancho{
    width: 90%;
    height: 70px;
    background: #386641;
    margin: auto;
}
.logo{
    width: 30%;
    height: 70px;
    background: #386641;
    float: left;
    padding-top: 10px;
    box-sizing: border-box;
    font-weight: bold;
    letter-spacing: 1px;
}
.logo p{
    color: white;
    font-size: 29px;
    font-family: 'Roboto Mono', monospace;
}
nav{
    width: 70%;
    height: 70px;
    background: #386641;
    float: left;
    text-align: right;
    padding-top: 24px;
    box-sizing: border-box;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: white;
    font-size: 13px;
    text-decoration: none;   
    text-transform: uppercase;
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Roboto Mono', monospace;
}
nav ul li a:hover{
    color: #4444;
    cursor: pointer;
}
main{
    width: 100%;
    height: 440px;
}
main div{
    width: 40%;
    height: 80px;
    background: #386641;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border-radius: 10px;
}
main div li{
    list-style: none;
}
main div a{
    color: white;
    font-size: 40px;
    text-decoration: none;   
    text-transform: uppercase;
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Roboto Mono', monospace;
}
main div a:hover{
    color: #518048;
}

footer{
    width: 100%;
    background: #386641;
    height: 70px;
}
footer div p{
    color: white;
    font-size: 25px;
    text-decoration: none;   
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}